<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New item</title>
    <link rel="stylesheet" th:href="@{/css/item/new.css}">
</head>
<body>

<div class="form-container">
    <h1>Add New Item</h1>
    <form th:method="POST" th:action="@{/items}" th:object="${item}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description"/>
        <div class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>

        <label for="category">Category</label>
        <input type="text" th:field="*{category}" id="category"/>
        <div class="error-message" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category error</div>

        <label for="price">Price</label>
        <input type="text" th:field="*{price}" id="price"/>
        <div class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>

        <label for="quantity">Quantity</label>
        <input type="text" th:field="*{quantity}" id="quantity"/>
        <div class="error-message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity error</div>

        <label for="articleNumber">Article number</label>
        <input type="text" th:field="*{articleNumber}" id="articleNumber"/>
        <div class="error-message" th:if="${#fields.hasErrors('articleNumber')}" th:errors="*{articleNumber}">Article number error</div>

        <label for="dateOfBirth">dateOfBirth</label>
        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
        <div class="error-message" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date Of Birth error</div>

        <input type="submit" value="Add item">
    </form>
</div>

</body>
</html>
