<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All items</title>
    <link rel="stylesheet" th:href="@{/item/index.css}" />
</head>
<body>

<div class="container">
    <div class="item-grid" th:each="item : ${items}">
        <div class="item-card">
            <a th:href="@{/items/{id}(id=${item.getId()})}">
                <img th:src="@{/images/default-item.png}" alt="Item Image" class="item-image"/>
                <div class="item-details">
                    <h2 th:text="${item.getName()}"></h2>
                    <p th:text="${item.getArticleNumber()}"></p>
                    <p>Price: <span th:text="${item.getPrice()} + ' RUB'"></span></p>
                </div>
            </a>
        </div>
    </div>

    <!-- Кнопка для добавления нового элемента -->
    <div class="add-item-button">
        <a th:href="@{/items/new}">
            <button>Add New Item</button>
        </a>
    </div>

    <!-- Пагинация -->
    <div class="pagination">
        <ul>
            <!-- Ссылка на предыдущую страницу -->
            <li th:if="${currentPage > 0}">
                <a th:href="@{/items(page=${currentPage - 1}, size=${size})}">Previous</a>
            </li>

            <!-- Показ всех номеров страниц -->
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/items(page=${i}, size=${size})}" th:text="${i + 1}"
                   th:class="${currentPage == i} ? 'active' : ''"></a>
            </li>

            <!-- Ссылка на следующую страницу -->
            <li th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/items(page=${currentPage + 1}, size=${size})}">Next</a>
            </li>
        </ul>
    </div>

    <!-- Кнопка для выхода из системы -->
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" class="logout-button">
    </form>
</div>

</body>
</html>
