<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link rel="stylesheet" th:href="@{/css/item/show.css}">
</head>
<body>

<div class="item-container">

    <h1 th:text="${item.username}">item Name</h1>
    <p><span>Name:</span> <span th:text="${item.username}">item Name</span></p>
    <p><span>Description:</span> <span th:text="${item.description}">item Description</span></p>
    <p><span>Category:</span> <span th:text="${item.category}">item Category</span></p>
    <p><span>Price:</span> <span th:text="${item.price}">item Price</span> RUB</p>
    <p><span>Quantity:</span> <span th:text="${item.quantity}">item Quantity</span></p>
    <p><span>Article Number:</span> <span th:text="${item.articleNumber}">item Article Number</span></p>
    <p><span>Created Date:</span> <span th:text="${item.createdDate}">item Created Date</span></p>
    <p><span>Last Quantity Change:</span> <span th:text="${item.quantityChangeDate}">item Quantity Change Date</span></p>

    <div class="edit-button">
        <a th:href="@{/items/{id}/edit(id=${item.getId()})}">Edit item</a>
    </div>

    <div class="delete-button">
        <form th:action="@{/items/{id}(id=${item.getId()})}" th:method="DELETE">
            <button type="submit" class="delete-button">Delete item</button>
        </form>
    </div>

    <div class="back-button">
        <a th:href="@{/items}">Back to items</a>
    </div>
</div>
</body>
</html>