<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/css/product/show.css}">
</head>
<body>

<div class="product-container">

    <h1 th:text="${product.name}">Product Name</h1>
    <p><span>Name:</span> <span th:text="${product.name}">Product Name</span></p>
    <p><span>Description:</span> <span th:text="${product.description}">Product Description</span></p>
    <p><span>Category:</span> <span th:text="${product.category}">Product Category</span></p>
    <p><span>Price:</span> <span th:text="${product.price}">Product Price</span> RUB</p>
    <p><span>Quantity:</span> <span th:text="${product.quantity}">Product Quantity</span></p>
    <p><span>Article Number:</span> <span th:text="${product.articleNumber}">Product Article Number</span></p>
    <p><span>Created Date:</span> <span th:text="${product.createdDate}">Product Created Date</span></p>
    <p><span>Last Quantity Change:</span> <span th:text="${product.quantityChangeDate}">Product Quantity Change Date</span></p>

    <div class="edit-button">
        <a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit product</a>
    </div>

    <div class="back-button">
        <a th:href="@{/products}">Back to Products</a>
    </div>
</div>
</body>
</html>