body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5576c, #f093fb);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* Для правильного позиционирования кнопки Logout */
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между карточками */
    justify-content: flex-start; /* Начало строки для выравнивания карточек */
}

.item-card {
    background-color: rgba(0, 0, 0, 0.7); /* Темный полупрозрачный фон для лучшего контраста */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Легче тень */
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px); /* Три карточки в строке с отступами */
    max-width: calc(33.333% - 20px); /* Максимальная ширина карточки */
    box-sizing: border-box; /* Учитывает отступы и границы в расчете ширины */
    margin-bottom: 20px; /* Отступ снизу карточки */
}

.item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Легче тень при наведении */
}

.item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.item-card:hover .item-image {
    transform: scale(1.05);
}

.item-details {
    margin-top: 15px;
}

.item-details h2 {
    font-size: 1.5em;
    margin: 0;
    color: #fff; /* Белый текст для лучшей видимости на темном фоне */
}

.item-details p {
    margin: 5px 0;
    color: #ddd; /* Более светлый текст для лучшего контраста */
}

.add-item-button {
    margin-top: 20px;
    text-align: center;
}

.add-item-button button {
    background-color: #f5576c;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.add-item-button button:hover {
    background-color: #f093fb;
    transform: translateY(-3px);
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f5576c;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 10; /* Обеспечивает, что кнопка поверх контента */
}

.logout-button:hover {
    background-color: #f093fb;
}
