body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5576c, #f093fb);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.item-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(90%); /* Затемнение карточки при наведении */
}

.item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.item-card:hover .item-image {
    transform: scale(1.05);
}

.item-details {
    margin-top: 15px;
}

.item-details h2 {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень для заголовка */
}

.item-details p {
    margin: 5px 0;
    color: #ddd;
    font-size: 0.9em; /* Меньший размер шрифта для дополнительных деталей */
}

.add-item-button {
    margin-top: 20px;
    text-align: center;
}

.add-item-button button,
.logout-button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-item-button button:hover,
.logout-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f5576c;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 10;
}

.logout-button:hover {
    background-color: #f093fb;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination ul li a.active {
    background-color: #f5576c;
    color: white;
    border-color: #f5576c;
}

.pagination ul li a:hover {
    background-color: #f0f0f0;
    color: #f093fb;
    border-color: #f093fb;
}

.pagination ul li a.disabled {
    pointer-events: none;
    background-color: #f9f9f9;
    color: #ccc;
    border-color: #ddd;
}

.item-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    object-fit: cover;
}

@media (max-width: 768px) {
    .item-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .item-card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
